<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Vue TEST</title>
</head>

<body>
  <div id="app-1">{{ message }}</div>
  <div id="app-2">
    <input type="text" v-model="message"></input>
    <div class="error" v-if="error.require">必須項目です</div>
    <div class="error" v-if="error.tooLong">短すぎます</div>
  </div>

  <script>
    var app1 = new Vue({
      el: "#app-1",
      data: { message: "Hello world!" }
    })

    var app2 = new Vue({
      el: "#app-2",
      watch: {
        message: function (newVal, oldVal) {
          this.error.require = (newVal.length < 1) ? true : false;
          this.error.tooLong = (newVal.length > 5) ? true : false;
        }
      },
      data: {
        message: "Hello!",
        error: {
          require: false,
          tooLong: false
        }
      }
    })
  </script>
</body>

</html>